.navBar{
  padding: 70px 0 70px 0;
  border-bottom: 1px solid black;
}

.right-side-navbar span{
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}

.portfolio-span{
  justify-content: center;
  background-color: #0000001f;
  border-radius: 11px;
  gap: 25px;
  box-shadow: white 0 3px;
}

.portfolio-span span{
  letter-spacing: 10px;
  color: white;
}
