<div class="top-container dmSans">
  <img src="assets/arrow.png" alt="arrow">
  <div>
    <span>About André</span>
    <span>Some Facts</span>
  </div>
</div>
<span class="montserrat-tittle tittle" style="padding-bottom: 50px">
  André
</span>
<div class="separations">
  <div class="left-side-individual">
    <div class="img-text-individual">
      <img src="assets/full-me.jpg" alt="me" class="img-me">
      <span class="dmSans">Driven and self-motivated junior software developer with a strong passion for creating engaging user experiences.
Proficient in HTML, CSS, and JavaScript, I have also explored the world of backend development, gaining some experience in technologies like .Net framework. Through self-learning, university and personal projects, I have honed my skills and developed a well-rounded understanding of both frontend and backend development with more focus on frontend development.
Continuously seeking opportunities to expand my knowledge, I stay updated with the latest trends and best practices in the industry. Collaborative and adaptable, I thrive in team environments and am eager to contribute to innovative projects.
      </span>
    </div>
  </div>
  <div class="right-side-individual dmSans">
    <div class="first-sector">
    <span class="semi-tittle" style="font-size: 50px;letter-spacing: 6px;">Follow me</span>
    <span class="normal-text">I’m available on the following social media platforms.</span>
    <div class="d-flex flex-row link">
      <img src="assets/linkedin.png" alt="arrow" class="right-arrow hover-target" (click)="openLink('https://www.linkedin.com/in/andrétacanho')">
      <span class="semi-tittle hover-target" style="font-size: 40px; padding-bottom: 0" (click)="openLink('https://www.linkedin.com/in/andrétacanho')">Linkedin</span>
    </div>
    <div class="d-flex flex-row link">
      <img src="assets/instagram.png" alt="arrow" class="right-arrow hover-target" style="width: 35px; height: 35px; margin-left: 3px" (click)="openLink('https://www.instagram.com/andretacanho')">
      <span class="semi-tittle hover-target" style="font-size: 40px; padding-bottom: 0" (click)="openLink('https://www.instagram.com/andretacanho')">Instagram</span>
    </div>
    <div class="d-flex flex-row link">
      <img src="assets/email.png" alt="arrow" class="right-arrow hover-target" style="width: 35px; height: 35px; margin-left: 3px" (click)="scrollToEnd()">
      <span class="semi-tittle hover-target" style="font-size: 40px; padding-bottom: 0" (click)="scrollToEnd()">Email</span>
    </div>
  </div>
    <div class="second-sector">
      <span class="semi-tittle" style="font-size: 50px; letter-spacing: 6px;">Curriculum</span>
      <div class="d-flex flex-row data-curriculum">
        <div class="data">
          <span>2016 - 2019</span>
          <span>2018 - 2019</span>
          <span>2019 - 2022</span>
          <span>2022 - 2022</span>
          <span>2022 - Present</span>
        </div>
        <div class="doing">
          <span>Studding - Science & Technology</span>
          <span>Worten employee</span>
          <span>Studding - Application development</span>
          <span>Latitudde - Internship</span>
          <span>Latitudde - Full-time Front-end Developer</span>
        </div>
        <div class="where">
          <span>Guarda</span>
          <span>Covilhã</span>
          <span>Guarda</span>
          <span>Fundão</span>
          <span>Fundão</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="separations-2">
  <div class="left-side-2">
    <div class="d-flex dmSans" style="flex-direction: column">
      <span style="margin-top: 45px">Total</span>
      <span>Certifications</span>
    </div>
    <span class="montserrat-tittle tittle-number">
      06
    </span>
  </div>
  <div class="right-side-2">
    <div class="second-sector dmSans" style="padding-bottom: 70px">
      <span class="semi-tittle" style="font-size: 50px; letter-spacing: 6px;">
        Certifications
      </span>
      <div class="d-flex flex-row data-curriculum">
        <div class="data">
          <span>Readiness it</span>
          <span>Udemy</span>
          <span>Udemy</span>
          <span>Udemy</span>
          <span>Udemy</span>
          <span>Udemy</span>
        </div>
        <div class="doing">
          <span>Scrum Master</span>
          <span>Wordpress Professional Design</span>
          <span>Angular Styling & Animations</span>
          <span>SEO - Search Engine Optimization</span>
          <span>Web Accessibility WCAG 2.1</span>
          <span>Agile Project Management</span>
        </div>
        <div class="where">
          <span
            class="hover-target"
            (click)="downloadFile('assets/certifications/ScrumMaster.pdf', 'Scrum_Master-Certification-AndréSantos')">
            Credential
            <img src="assets/download.png" alt="Download">
          </span>
          <span
            class="hover-target"
            (click)="downloadFile('assets/certifications/Wordpress.pdf', 'Wordpress_Professional_Designing-Certification-AndréSantos')">
            Credential
            <img src="assets/download.png" alt="Download">
          </span>
          <span
            class="hover-target"
            (click)="downloadFile('assets/certifications/AngularAnimations.pdf', 'Angular_Styling_Animations-Certification-AndréSantos')">
            Credential
            <img src="assets/download.png" alt="Download">
          </span>
          <span
            class="hover-target"
            (click)="downloadFile('assets/certifications/SEO.pdf', 'SEO_Advanced-Certification-AndréSantos')">
            Credential
            <img src="assets/download.png" alt="Download">
          </span>
          <span
            class="hover-target"
            (click)="downloadFile('assets/certifications/Acessibilidade.pdf', 'Web_Accessibility-Certification-AndréSantos')">
            Credential
            <img src="assets/download.png" alt="Download">
          </span>
          <span
            class="hover-target"
            (click)="downloadFile('assets/certifications/Agile.pdf', 'Agile_Project_Manager-Certification-AndréSantos')">
            Credential
            <img src="assets/download.png" alt="Download">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
