.top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0 70px 0;
  align-items: center;
  border-bottom: 6px dashed white;
}

.top-container span{
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}

.tittle{
  display: flex;
  justify-content: center;
  height: fit-content;
  padding-bottom: 30px;
}

.separations{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 250px;
}

.left-side-individual{
  width: 50%;
}

.right-side-individual{
  width: 50%;
}

.semi-tittle{
  padding: 0 0 25px 0;
}

.normal-text{
  padding: 0 0 35px 0;
}

.link{
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 10px;
}

.img-me{
  float: right;
  max-width: 320px;
  max-height: 520px;
}

.img-text-individual{
  position: relative;
}

.img-text-individual span{
  text-align: justify;
  font-size: 30px;
}

.right-arrow{
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.first-sector{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.second-sector{
  width: 100%;
}

.data-curriculum{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.data-curriculum div{
  width: 33%;
  display: flex;
  flex-direction: column;
}

.data-curriculum span{
  padding-bottom: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data{

}

.doing{
  align-items: center;
}

.where{
  align-items: end;
}
