.tittle{
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.circle{
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
  height: 1000px;
  width: 1000px;
  position-area: center;
  bottom: -70%;
  filter: url(#waveFilter);
  animation: waveMotion 20s infinite linear;
}

@keyframes waveMotion {
  0% { filter: url(#waveFilter); transform: scale(1); }
  25% { filter: url(#waveFilter); transform: scale(1.2); }
  50% { filter: url(#waveFilter); transform: scale(0.8); }
  75% { filter: url(#waveFilter); transform: scale(0.9); }
  100% { filter: url(#waveFilter); transform: scale(1); }
}
