<span class="semi-tittle dmSans" style="font-size: 50px; letter-spacing: 6px">
  Projects
</span>
<div class="full-projects">
  <div class="first-project hover-target" (click)="changeOcult('project01')">
    <div class="left-divider">
      <div class="montserrat-tittle dmSans">
        01/
      </div>
      <div class="descriptions smoth-animation" [ngClass]="{ 'hidden': !ocultStates['project01'] }">
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Position
        </span>
          <span class="dmSans">
          Front-End Developer
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Technologies
        </span>
          <span class="dmSans">
          Angular, TypeScript, HTML, CSS, Agile methodology
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Description
        </span>
          <span class="dmSans">
          In this project, I focused on front-end development, emphasizing design alignment and responsiveness. My contributions included collaborating with the design team to align with client expectations, creating new layouts for web and mobile with intuitive user experiences, and building responsive interfaces for seamless multi-device functionality. I also integrated the front end with back-end APIs to ensure smooth data flow, maintained layout consistency across the application, and optimized performance by improving page load times and reducing resource usage.
        </span>
        </div>
      </div>
    </div>
    <div class="right-divider">
      <div class="project-mockup smoth-animation" [ngClass]="{ 'hidden': !ocultStates['project01'] }">
        <img src="" alt="">
      </div>
      <div class="title-description">
        <span class="project-name montserrat-tittle">
          BIO2 2.0
        </span>
        <span class="dmSans closer">
          Latitudde project
        </span>
      </div>
    </div>
  </div>
  <div class="second-project" (click)="changeOcult('project02')">
    <div class="left-divider">
      <div class="montserrat-tittle dmSans">
        02/
      </div>
      <div class="descriptions smoth-animation" [ngClass]="{ 'hidden': !ocultStates['project02'] }">
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Position
        </span>
          <span class="dmSans">
          Fullstack Developer
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Technologies
        </span>
          <span class="dmSans">
          JavaScript, HTML, CSS, SQL, C#, .Net, Agile methodology
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Description
        </span>
          <span class="dmSans">
            For this client, we transitioned the project from VB to C# to optimize the system, and my primary responsibility was front-end development. I created new pages while maintaining design consistency, corrected layout issues on existing pages, adapted the front end for new developments, processed user-submitted information for database storage, and improved the display of information for better user experience.        </span>
        </div>
      </div>
    </div>
    <div class="right-divider">
      <div class="project-mockup smoth-animation" [ngClass]="{ 'hidden': !ocultStates['project02'] }">

      </div>
      <div class="title-description">
        <span class="project-name montserrat-tittle">
          BIO2
        </span>
        <span class="dmSans closer">
          Latitudde project
        </span>
      </div>
    </div>
  </div>
  <div class="second-project" (click)="changeOcult('project03')">
    <div class="left-divider">
      <div class="montserrat-tittle dmSans">
        03/
      </div>
      <div class="descriptions smoth-animation" [ngClass]="{ 'hidden': !ocultStates['project03'] }">
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Position
        </span>
          <span class="dmSans">
          Front-End Developer
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Technologies
        </span>
          <span class="dmSans">
          Angular, TypeScript, HTML, CSS, Agile methodology
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          / Description
        </span>
          <span class="dmSans">
            I am currently working on migrating an application from Angular 8 to the latest version, focusing on updating the codebase to leverage new Angular features, refactoring outdated components and services for compatibility, and enhancing performance and stability to ensure a smooth transition.
          </span>
        </div>
      </div>
    </div>
    <div class="right-divider">
      <div class="project-mockup smoth-animation" [ngClass]="{ 'hidden': !ocultStates['project03'] }">

      </div>
      <div class="title-description">
        <span class="project-name montserrat-tittle">
          OneClick
        </span>
        <span class="dmSans closer">
          Latitudde project
        </span>
      </div>
    </div>
  </div>
</div>
