<span class="semi-tittle dmSans" style="font-size: 50px; letter-spacing: 6px">
  Projects
</span>
<div class="full-projects">
  <div class="first-project">
    <div class="left-divider">
      <div class="montserrat-tittle dmSans">
        01/
      </div>
      <div class="descriptions">
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          Position:
        </span>
          <span class="dmSans">
          Front-End Developer
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          Technologies:
        </span>
          <span class="dmSans">
          Angular, TypeScript, HTML, CSS, Agile methodology
        </span>
        </div>
        <div class="small-descriptions">
          <span class="semi-tittle dmSans" style="font-size: 22px; letter-spacing: 2px">
          Description:
        </span>
          <span class="dmSans">
          In this project, I focused on front-end development, emphasizing design alignment and responsiveness. My contributions included collaborating with the design team to align with client expectations, creating new layouts for web and mobile with intuitive user experiences, and building responsive interfaces for seamless multi-device functionality. I also integrated the front end with back-end APIs to ensure smooth data flow, maintained layout consistency across the application, and optimized performance by improving page load times and reducing resource usage.
        </span>
        </div>
      </div>
    </div>
    <div class="right-divider">
      <div class="project-mockup">

      </div>
      <div class="title-description">
        <span class="project-name montserrat-tittle">
          BIO2 2.0
        </span>
        <span class="dmSans closer">
          Latitudde project
        </span>
      </div>
    </div>
  </div>
</div>
