<div class="main-email flex-row">
  <div class="left-divider line">

    <div class="infinity-container">
      <div class="ball" style="width: 50px; height: 50px; left: 50px; animation-duration: 10.5s;"></div>
      <div class="ball" style="width: 35px; height: 35px; left: 90px; animation-duration: 20s;"></div>
      <div class="ball" style="width: 20px; height: 20px; left: 120px; animation-duration: 15.8s;"></div>
      <div class="ball" style="width: 72px; height: 72px; left: 200px; animation-duration: 8.2s;"></div>
      <div class="ball" style="width: 68px; height: 68px; left: 300px; animation-duration: 10.7s; z-index: 1"></div>
    </div>






  </div>
  <div class="right-divider dmSans">
    <div class="flex-row d-flex" style="align-items: center; padding-bottom: 30px; justify-content: space-between !important;">
      <span class="semi-tittle dmSans contactme" style="font-size: 50px; letter-spacing: 6px">
      Contact me
      </span>
      <button (click)="contactFormRef.ngSubmit.emit()"
              [disabled]="contactForm.invalid"
              class="hover-target"
              [ngClass]="{'invalid': contactForm.invalid, 'pulse': contactForm.valid, 'hidden': isLoading || emailSend}"
              *ngIf="!isLoading && !emailSend">
        <img src="assets/arrow.png" alt="arrow" style="height: 85px">
      </button>
      <div class="dots-container"
           [ngClass]="{'hidden': !isLoading}"
           *ngIf="isLoading">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <span class="email-sent"
            [ngClass]="{'hidden': !emailSend}"
            *ngIf="!isLoading && emailSend">
        Email sent
      </span>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="flex-column" #contactFormRef="ngForm">
      <input formControlName="name" autocomplete="off" class="dmSans" type="text" required placeholder="Name">
      <input formControlName="email" autocomplete="off" type="email" required placeholder="Email">
      <textarea formControlName="message" type="text" required id="input-mensage" placeholder="Mensage"></textarea>
    </form>
  </div>
</div>




