.main-email{
  border-top: 1px solid black;
  padding: 30px;
}

.left-divider{
  padding-top: 30px;

  width: 20%;
}

.right-divider{
  padding-top: 30px;
  width: 80%;
}

.contactme{
  display: flex;
  flex-direction: row-reverse;
}

input, textarea{
  outline:none;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0));
  resize: none;
  color:#00000061 !important;
  letter-spacing: 2px;
  padding-left: 25px;
  font-size: 20px;
  cursor: none;
}

input:focus, textarea:focus{
  outline:none;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0));
  resize: none;
  color:#00000061 !important;
  letter-spacing: 2px;
  padding-left: 25px;
  font-size: 20px;
}

input::placeholder, textarea::placeholder{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #f5f5f5;
  letter-spacing: 4px;
  padding-left: 15px;
}

#input-mensage{
  height: 300px;
  padding-top: 10px;
}

input{
  height: 40px;
}

form{
  gap: 25px;
}

button{
  outline:none;
  border: none;
  transform: rotate(270deg);
  background: none;
  cursor: none;
  transition: opacity 2s ease-in-out;
}

.line{
   border-left:30px dashed white;

 }

/*Animation arrow*/
@keyframes pulse {
  0% {
    transform: rotate(270deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(270deg) scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: rotate(270deg) scale(1);
    opacity: 1;
  }
}

button {
  outline: none;
  border: none;
  background: none;
  transform: rotate(270deg);
  transition: opacity 0.5s ease-in-out;
}

.pulse {
  animation: pulse 3s infinite ease-in-out;
}

.invalid {
  opacity: 0.3; /* Faded when invalid */
}

/*Animated dots*/
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: black;
  animation: bounce 1.5s infinite ease-in-out;
  opacity: 0.5;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.email-sent{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: black;
  letter-spacing: 4px;
  opacity: 0.5;
}


.infinity-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ball {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 50%;
  animation: bounce 2s infinite ease-in-out; /* Apply bounce animation */
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the bottom */
  }
  50% {
    transform: translateY(-450px); /* Move upwards (100px) */
  }
}








